@import "tailwindcss";

@theme {
    --color-tomato: #ff4d23
}

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        min-height: 100vh;
        background-color: #2e2e2e
    }
    a {
        text-decoration: none;
        color: inherit
    }
    /* li:hover {
        scale: 1.1;
    } */
}

.header_link {
    @apply hover:scale-110;
}

.active {
    @apply text-tomato text-xl
}